#topElements{
    padding-top: 80px;
    padding-bottom: 50px;
}


header{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 40px;
    text-align: center;
    color: #0B6E4F;
    border: solid #0B6E4F 3px;
    width: 600px;
    border-radius: 20px;
    background-color: white;
    position: relative;
    left: 35%;
}

body{
    background-image: url("watermelon.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#charts{
    background-color: rgb(35, 141, 35);
    border: solid green 2px;
    border-radius: 20px;
}

#lastWeeksTitle{
    background-color: #A5C882;
    color:white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 30px;

    border: solid #A5C882 1px;
    border-radius: 10px;
    margin-left: 50px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

#space{
    padding-top: 50px;
}

.day{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(92, 92, 92);
    font-size: 25px;
    text-align: center;
    
}

#mealChart{
    background-color: white;
    margin-left: 20px;
    margin-right: 20px;
    border: solid white 3px;
    border-radius: 4px;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.line{
    width: 50px;
    height: 300px;
}

.meal{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 25px;
    border-bottom: solid 1px grey ;
    color: rgb(112, 112, 112);
}

.meal-container
{
    padding: 20px;
    border-right: solid 1px grey;
    border-bottom: solid 1px grey;
    width: auto;
    height: 350px;
    text-align: center;
}